<!DOCTYPE html>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="#" class="navbar-project">Project ReMAKE</a>
    </div>
    <div class="navbar-links">
      <a href="#" class="navbar-link">Entrepenurs</a>
      <a href="#" class="navbar-link">Educational</a>
    </div>
    <div class="navbar-dropdown">
        <button class="dropdown-toggle">Menu</button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Testimonial</a>
        <a href="#" class="dropdown-item">About Us</a>
        <a href="#" class="dropdown-item">Login</a>
      </div>
  </nav>
  <div class="carousel">
    <div class="carousel-slide">
      <a href="#" class="carousel-link">
        <img src="path/to/image1.jpg" alt="Image 1">
      <button class="carousel-button">Button 1</button>
      </a>
    </div>
    <div class="carousel-slide">
      <a href="#" class="carousel-link">
        <img src="path/to/image2.jpg" alt="Image 2">
      <button class="carousel-button">Button 2</button>
      </a>
    </div>
    <div class="carousel-slide">
      <a href="#" class="carousel-link">
        <img src="path/to/image3.jpg" alt="Image 3">
      <button class="carousel-button">Button 3</button>
      </a>
  </div>
</div>
  <div class="flexcontainer">
    <img src="/app/assets/images/logo.jpg" class="logo" alt="logo">
      <p>
        Stronger Together - Working Together
      </p>
      <p>
        Educational are projects working in the Criminal Justice space seeking to help ex-offenders by bringing them into the wider society both in terms of business opportunity and education. The overall aim of these programmes is to create a community and a better understanding of formally incarcerated people and those with criminal convictions.
        Judge Kameel Khan
      </p>
  </div>
  <div class="form-container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Contact us</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <footer class="footer">
    <div class="social-icons">
      <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
    </footer>


</body>
