.navbar {
  // list-style-type: none;
  margin: 0;
  padding: 24px;
  background-color: #891b1b;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #ececf1;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  left: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #020101;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: grid;
  flex-direction: column;
  grid-auto-columns: max-content;
  // background: transparent;
  // border: var(--borderWidth-thin, 1px) solid var(--color-border-default);
  // border-radius: var(--borderRadius-medium, 6px);
  // align-items: center;
  // justify-content: center;
}

.dropdown .dropdown-menu {
  display: none;
  position: fixed;
  background-color: #891b1b;
  min-width: 160px;
  z-index: 1;

}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Flexbox styles */
.flex-container {
  margin-top: 84px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.flex-item {
  background-color: #f1eeee;
  padding: 124px;
  margin-bottom: 18px;
}
