<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<!DOCTYPE html>
<html>
  <head>
    <title>Project ReMAKE</title>
    <meta name="Project ReMAKE" content="Stronger Together - Working Together.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
